<!DOCTYPE html>
<html class="no-js">

<head>
  <% include partials/head %>
</head>

<body id="imgFondo">

  <!--Logo-->
  <% include partials/menu %>

  <center>
    <a href="#"><img class="img-fluid" src="images/BOTONES/INICIAR.png" id="btnIniciar"></a>
  </center>


<!--proyectoscriptespol@gmail ---------- pr0y3ct0scr1pt ----------- Pr0y3ct0$cr1pt-->
  <% include partials/scripts %>
</body>

</html>