<!DOCTYPE html>
<html class="no-js">

<head>
  <% include partials/head %>
</head>

<body id="imgFondo">

  <!--Logo-->
  <% include partials/menu %>

  <section>
    <center>
      <h1 id="game-page-title">Puntuaciones</h1>
      <div id="lista_jugadores" class="row">

      </div>

    </center>
  </section>


  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="./js/bootstrap.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.js"></script>
  <script src="./js/puntuacion.js"></script>
</body>

</html>